body {
  background-color: #663333;
  width: 100%;
  height: 100%;
}

#page {
  width: 800px;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -400px;
}

#header {
  position: absolute;
  top: 20px;
  bottom: 100px;
}

#searchtitle {
  color: white;
  font-weight: bold; 
  margin-bottom: 5px;
}

#searchbox {
  width: 155px; 
  height: 50px;
  float: left; 
}

#indicator {
  background-repeat:no-repeat;
  background-position: left;
  width: 40px;
  height: 50px;
  float: left;
}

#results {
  position: absolute;
  top: 100px;
  bottom: 0;
  overflow: auto;
  width: 100%; 
  border: 1px solid black;
  background-color: #cca57e;
  padding-bottom: 10px;
}
