body {
  background-color: #663333;
  width: 100%;
  height: 100%;
}

#page {
  width: 800px;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -400px;
}

#header {
  position: absolute;
  top: 20px;
  bottom: 100px;
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-size: 14px;
  color: white;
}

#searchbox {
  width: 300px;
}

#searchtitle {
  display: inline;
  padding-top: 12px;
  float: left;
}

#indicator {
  display: inline;
  float: right;
}

#count {
  display: inline;
  padding-top: 12px;
  text-align: right;
  float: right;
}

#searchstring {
  width: 300px;
  background-color: #cca57e;
}

#results {
  position: absolute;
  top: 100px;
  bottom: 0;
  overflow: auto;
  width: 100%; 
  border: 1px solid black;
  background-color: #cca57e;
  padding-bottom: 10px;
}

.resultCount {
  display: none;
}