li {
    list-style-type: none;
    clear: left;
    float: left;
}

#tracklist .odd {
    color: black; 
    background-color: white; 
}

#tracklist .even {
    color: white; 
    background-color: black; 
}

#tracklist .track .id {
    float: left;
    width: 50px;
}

#tracklist .track .artist {
    float: left;
    width: 300px;
}

#tracklist .track .title {
    float: left;
    width: 400px;
}

#search .track .id {
    float: left;
    width: 50px;
}
 
#search .track .artist {
    float: left;
    width: 300px;
}
 
#search .track .title {
    float: left;
    width: 400px;
}
 
#search .track .hit {
    font-weight: bold;
}
